.container {
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
  }
}
.WeatherInfo {
  img {
    margin-top: 0;
    width: 400px;
  }
}
.Products {
  img {
    margin-top: 10px;
    width: 170px;
  }
}
