.weatherInfo {
  text-align: center;

  img {
    width: 200px;
  }
  .card-body {
    h4 {
      text-align: left;
    }
  }
}

a {
  text-decoration: none;
  color: white;
}

image {
  margin-top: 10px;

}
